{% extends 'index.html' %}

{% block proceso %}
<h1>jobs_counts</h1>
<div class="m-2">
    {% for tabla in tablas_res %}
    <table class="table table-striped table-bordered table-sm">
        <caption>{{tabla.0}}</caption>
        <thead>
            <tr>
                <th colspan="6" style="text-align:center" class="table-active">{{tabla.0}}</th>
            </tr>
            <tr style="text-align:center">
                <th colspan="2" class="table-warning">Antes</th>
                <th colspan="2" class="table-warning">Despues</th>
                <th rowspan = "2" class="table-info">diferencia</th>
                <th rowspan = "2" class="table-info">porcentaje</th>
            </tr>
            <tr>
                <th class="table-success">fecha</th>
                <th class="table-success">count</th>
                <th class="table-success">fecha</th>
                <th class="table-success">count</th>

            </tr>
        </thead>
        <tbody>
            {% for row in tabla.1 %}
            <tr>
                {% for celda in row %}
                <td>{{ celda }}</td>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</div>

{% endblock %}