{% extends 'index.html' %}

{% block proceso %}
<div class="m-4">
    {% for tabla in tablas %}
        <table class="table table-striped table-bordered table-sm">
            <caption>{{tabla.1}}</caption>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">job</th>
                    <!--
                    <th scope="col">CARPETA</th>
                    <th scope="col">PROCESO</th>
                    <th scope="col">TIPO</th>
                    <th scope="col"></th>
                    <th scope="col">SECUENCIA</th>
                    -->
                    <th scope="col">hora</th>
                    <th scope="col">status bandera</th>
                    <th scope="col">state</th>
                    <th scope="col">status ejecucion</th>
                    <th scope="col">storeday</th>
                </tr>
            </thead>
            <tbody>
                {% for col in tabla.0 %}
                    <tr>
                        <th>{{col.0}}</th>
                        {% if col.1 in jobs %}
                        <td class="text-danger">
                        {% else %}
                        <td>
                        {% endif %}
                            {{col.1}}
                        </td>
                        <!--
                        <td>{{col.2}}</td>
                        <td>{{col.3}}</td>
                        <td>{{col.4}}</td>
                        <td>{{col.5}}</td>
                        <td>{{col.6}}</td>
                        -->
                        <td>{{col.7}}</td>
                        {% if col.8.status_bandera == 'SUCCESS' %}
                        <td class="table-success">
                        {% elif col.8.status_bandera == 'EXTRACTION' %}
                        <td class="table-warning">
                        {% else %}
                        <td class="table-danger">
                        {% endif %}
                            {{ col.8.status_bandera }}
                        </td>
                        {% if col.8.state == 'SUCCESS' or col.8.state == 'COMPACTION' %}
                        <td class="table-success">
                        {% elif col.8.state == 'EXTRACTION' %}
                        <td class="table-warning">
                        {% else %}
                        <td class="table-danger">
                        {% endif %}
                            {{ col.8.state }}
                        </td>
                        {% if col.8.status_ejec == 'SUCCESS' %}
                        <td class="table-success">
                        {% elif col.8.status_ejec == 'EXTRACTION' %}
                        <td class="table-warning">
                        {% else %}
                        <td class="table-danger">
                        {% endif %}
                            {{ col.8.status_ejec }}
                        </td>
                        <td>{{ col.8.store_day }}</td>
                    </tr>
                {% endfor %}
            </tbody> 
        </table>
    {% endfor %}
    </div>
{% endblock %}

